@model SpecialInstruction

<form asp-action="Create" asp-controller="SpecialInstruction">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title" id="popupDialogLabel">Create Special Instruction</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="text-md-center">
                        <tr style="font-size: 14px">
                            <th style="text-align: left;width: 200px">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.ItemId)
                            </th>
                            <th style="text-align: left">
                                <span style="color: red">*&nbsp;</span>@Html.DisplayNameFor(model => model.SpecInstr)
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-md-center">
                        <tr style="font-size: 12px">
                            <td>
                                <select asp-for="@Model.ItemId" class="form-control form-control-sm  form-select" asp-items="@ViewBag.itemIds">
                                </select>
                            </td>
                            <td>
                                <input asp-for="@Model.SpecInstr" class="form-control form-control-sm" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="cleanDefaultContainer()">Close</button>
            <button type="submit" class="btn btn-info">Add</button>
        </div>
    </div>
</form>
